# Игнорируем скачанные и готовые видео
Downloads/
Recode/
Recoded/
NORMALIZED/

# Игнорируем исполнительные файлы (пользователь должен скачать их сам)
*.exe
*.bin
*.dll

# Игнорируем системные файлы Python
__pycache__/
*.pyc

# Игнорируем настройки IDE
.idea/
.vscode/

# Игнорируем личные ссылки (оставляем только шаблон)
links.txt